.scanIngredients .content {
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 57%;
  gap: 3%;
  flex-wrap: wrap;
}

.scanIngredients .content .left .image {
  position: relative;
}

.scanIngredients .content .left .image img {
  width: 100%;
}

.scanIngredients .content .left .image .placeholder {
  height: 400px;
  border: 1px dashed lightgray;
  border-width: 3px;
  border-radius: 7px;
}

.scanIngredients .content .left .product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scanIngredients .content .left .product .productDetails {
  display: flex;
  gap: 10px;
}

.scanIngredients .content .left .product .saveButton {
  text-align: center;
}

.scanIngredients .content .left .saveSuccess {
  text-align: center;
  color: green;
}

.scanIngredients .content .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.scanIngredients .content .details .helpText {
  text-align: center;
}

.scanIngredients .content .details .groupsDropdown {
  text-align: center;
}

.scanIngredients .content .details .groupsDropdown .dropdown {
  width: 50%;
}

.scanIngredients .content .details .identifyButton {
  text-align: center;
}

.scanIngredients .content .scannedUsers .panelContent {
  display: flex;
  gap: 15px;
}

.scanIngredients .content .scannedUsers .safe .k-expander-title {
  color: green;
}

.scanIngredients .no-content {
  width: 100%;
  text-align: center;
  margin: 30px;
}

@media screen and (max-width: 456px) {
  .scanIngredients .content {
    grid-template-columns: none;
    padding: 1rem 0.2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .scanIngredients .no-content {
    margin: 10px 0px;
  }

  .scanIngredients .content .left .image .placeholder {
    height: 200px;
  }
}
