.expiry-products-container {
  margin: 20px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #cfcdcd;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

.product-row {
  width: 20rem;
}

.expired-hourglass-icon {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 456px) {
  .product-row {
    width: 60vw;
  }

  .expired-hourglass-icon {
    display: none;
  }
}
